<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve - Autopilot authentication</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id="container">
    <div id="main" class="login">
        <h1>Do you approve?</h1>
        <p>login as <%= data.username %><br><a href="<%=data.logoutUrl%>">Login as another user?</a></p>
        <div class="scope_area">
            <h2>scope:</h2>
            <ul>
                <%if (data.scope.includes('r')) {%><li>read</li><%}%>
                <%if (data.scope.includes('w')) {%><li>write</li><%}%>
                <%if (data.scope.includes('openid')) {%><li>openid</li><%}%>
            </ul>
        </div>
        <form action="/approve" method="post">
            <button name="approve" type="submit" value="yes">Approve</button>
            <button name="approve" type="submit" value="no">Reject</button>
            <input type="hidden" name="csrfToken" value="<%= data.csrfToken %>">
        </form>
    </div>
</div>
</body>
<script src="/static/script.js"></script>
</html>
