<!DOCTYPE html>
<html lang="en">
<head>
    <title>Autopilot</title>
</head>
<body>
    Do you approve?<br>
    <div>
        scope<br>
        <%if (data.scope.includes('r')) {%>read<br><%}%>
        <%if (data.scope.includes('w')) {%>write<br><%}%>
        <%if (data.scope.includes('openid')) {%>openid<%}%>
    </div>
    <form action="/approve" method="post">
        <button name="approve" type="submit" value="yes">Approve</button>
        <button name="approve" type="submit" value="no">Reject</button>
        <input type="hidden" name="csrfToken" value="<%= data.csrfToken %>">
    </form>
</body>
<script>
  ((document) => {
    const forms = document.querySelectorAll('form')
    const buttons = document.querySelectorAll('input[type=\'submit\']')
    forms.forEach(form => form.addEventListener('submit', () => buttons.forEach(v => v.disabled = true)))
  })(document)
</script>
</html>
