<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Autopilot authentication</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="container">
        <div id="main" class="login">
            <h1>Login</h1>
            <form method="POST" action="./login">
                <% if (data.error) { %>
                    <div class="error"><%= data.message %></div>
                <% } %>
                <input type="text" name="id" class="<% if (data.error) { %>error<% } %>" placeholder="ID" autocomplete="off">
                <input type="hidden" name="csrfToken" value="<%= data.csrfToken %>">
                <% if (data.to) { %>
                    <input type="hidden" name="to" value="<%= data.to %>">
                <% } %>
                <input type="submit" value="NEXT">
            </form>
        </div>
    </div>
</body>
<script src="/static/script.js"></script>
</html>
