<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Verification - Autopilot authentication</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id="container">
    <div id="main" class="login">
        <h1>Login</h1>
        <form method="POST" action="./otpcheck">
            <h2>Please enter the login code.</h2>
            <% if (data.error) { %>
                <div class="error"><%= data.message %></div>
            <% } %>
            <input type="text" name="otp" class="<% if (data.error) { %>error<% } %>" placeholder="login code">
            <input type="hidden" name="csrfToken" value="<%= data.csrfToken %>">
            <% if (data.to) { %>
                <input type="hidden" name="to" value="<%= data.to %>">
            <% } %>
            <input type="submit" value="LOGIN">
            <a id="resend_link" href="#">Resend code verification email.</a>
        </form>
        <form method="POST" action="./otpcheck">
            <input type="hidden" name="resendmail" value="-">
            <% if (data.to) { %>
                <input type="hidden" name="to" value="<%= data.to %>">
            <% } %>
            <input type="submit" id="resend" class="hide" value="Resend code verification email.">
        </form>
    </div>
</div>

</body>
<script src="/static/script.js"></script>
<script>
  document.getElementById("resend_link").addEventListener('mousedown', e => {
    e.preventDefault()
    document.getElementById("resend").click()
  })
</script>
</html>